**/__pycache__/
0x02-minimum_operations/test_0-minoperations.py
0x03-log_parsing/0-stats_regex.py
0x04-utf8_validation/0-check_one.py
0x04-utf8_validation/tests.py
0x05-nqueens/test_nqueens.py
0x05-nqueens/checker_10.py
0x05-nqueens/checker_8.py
